{% extends 'base.html.twig' %}

{% block body %}

    <form id="" class="form_text" action="">
        <div class="bl_group">
            <input id="mainLink" type="text" placeholder="Принять ссылку"  autocomplete="on">
            <textarea id="phrases" name="" title="" placeholder="Набор фраз..." ></textarea>
        </div>
        <div class="bl_group">
            <button id="startGenerate" class="middle-btn icon-dowload" type="button">Start</button>
            <textarea id="links" name="" title="" placeholder="Набор ссылок..."></textarea>
        </div>
    </form>

    <form class="bl_chooseTable" action="">
        <select class="bl_chooseTable__select" name="" id="selectTable">
            <option templateStatus="0">Before</option>
            <option templateStatus="1">After</option>
        </select>
    </form>

    <div class="bl_result">
        <p class="bl_result__name" id="templateTableName">Before</p>
        <input class="bl_result__input" type="text" placeholder="Write template here..." id="templateInput">
        <button class="btn_addTemplate" type="button" id="addTeplate">add template</button>
        <table class="bl_result__table" >
            <thead>
            <tr>
                <th>id</th>
                <th>template</th>
                <th>counter</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="templateTableBody">
            {% for template in templates %}
                <tr templateId="{{ template.id }}">
                    <td>{{ template.id }}</td>
                    <td templateText>{{ template.text }}</td>
                    <td>{{ template.count != null ?  template.count:  '0'   }}</td>
                    <td><input type="submit" value="X" deleteTemplate="{{ template.id }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="bl_formResult">
        <div class="bl_formResult__text">
            <button class="min-btn icon-save" type="button"></button>
            <textarea class="bl_formResult__textArea" id="resultOutput" rows="20" readonly></textarea>
        </div>

    </div>
{% endblock %}