.form_text {
    display: inline-block;
    width: 44%;
    vertical-align: top;
    margin-top: 15px;
    min-height: 200px;
    color: #000;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #333;
}
.form_text input {
    vertical-align: top;
    display: block;
    margin: 12px auto;
    max-width: 300px;
    width: 100%;
    height: 20px;
    font-size: 16px;

}

.form_text textarea {
    position: relative;
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 360px;
    height: 500px;
    resize: none;
    overflow: auto;
    font-size: 16px;

}

.bl_chooseTable{
    margin-top: 15px;
    display: inline-block;
    width: 7.5%;
    height: 30px;

}

.bl_chooseTable__select{
    width: 100%;
}



.bl_group{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #333;
}


.middle-btn {
    position: relative;
    display: block;
    vertical-align: top;
    margin: 0 auto;
    min-height: 40px;
    width: 100%;
    max-width: 160px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #006df5;
    cursor: pointer;
    color: #006df5;
    font-size: 20px;
    text-align: left;
    text-indent: 15px;
}

.min-btn {
    position: relative;
    display: inline-block;
    margin: 0 1%;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #006df5;
    cursor: pointer;
}

.icon-dowload:after {
    content: "";

    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background: url('svg-icons/download.svg') 50% 50% no-repeat;
    background-size: cover;
    z-index: 2;
}

.icon-save:after {
    content: "";

    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background: url('svg-icons/save.svg') 50% 50% no-repeat;
    background-size: cover;
    z-index: 2;
}

.icon-save:hover + textarea {
    color: #1c98b4;
}

.bl_formResult {
    width: 53%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #000;
}

.bl_formResult__text {
    position: relative;
    vertical-align: top;
    margin-bottom: 10px;
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    font-size: 18px;
}

.bl_formResult__textArea {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    min-height: 180px;
    resize: none;
}

.bl_formResult__text button {
    position: absolute;
    top: 0;
    right: 0;
}

.bl_result {
    display: inline-block;
    float: right;
    vertical-align: top;
    width: 100%;
    max-width: 44%;
    margin-top: 15px;
    font-size: 18px;
}

.bl_result__name{
    text-align: center;
    font-size: 18px;
    margin: 0;
}


.bl_result__input {
    width: 100%;
    height: 20px;
    padding: 5px 0;
    border: 1px solid #333;
    text-indent: 15px;
}

.btn_addTemplate {
    position: relative;
    width: 100%;
    height: 40px;
    border-color: #003372;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    background-color: #0063de;
    cursor: pointer;

}

.btn_addTemplate:before,
.btn_addTemplate:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    width: 30px;
    height: 30px;
    background: url("svg-icons/arrows.svg") 50% 50% no-repeat;

}

.btn_addTemplate:before {
    left: 5%;
}

.btn_addTemplate:after {
    right: 5%;
}

.btn_addTemplate:hover {
    background-color: #0059c4;
}

.bl_result__table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    text-align: center;
}

.bl_result__table tr th:nth-of-type(1) {
    width: 30px;
}

.bl_result__table tr th:nth-of-type(3) {
    width: 30px;
}

thead th {
    position: sticky;
    top: 0;
    background: #0b6797;
    color: #fff;
    font-size: 18px;
    z-index: 10;
}

.bl_result__table th,
.bl_result__table td {
    border: 1px solid #000;
    font-size: 16px;
    padding: 5px;
    font-weight: 500;
    text-align: center;

}